* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: orange;
}

.flex-box {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

form {
  width: 800px;
}
div.form-row {
  width: 90%;
}
input {
  width: 100%;
}

.btn {
  width: 40%;
  height: 60%;
  margin-top: 5%;
  border: 3px solid white;
  background-color: #3ee0cf;
  position: relative;
}

.form-check {
  margin-top: 5%;
}

.navbar {
  position: relative;
  left: 85%;
}
.navbar .navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=#3ee0cf");
}
@media screen and (max-width: 640px) {
  body {
    margin-right: 5%;
    margin-left: 3%;
  }

  .btn {
    position: relative;
    left: 30%;
  }
  h1 {
    text-align: right;
    margin-right: 10%;
  }
}

h1 {
  color: turquoise;
}
